################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BuberDinner
/BuberDinner.Api/bin/Debug/net8.0
/BuberDinner.Api/obj
/BuberDinner.Application/bin/Debug/net8.0
/BuberDinner.Application/obj
/BuberDinner.Contracts/bin/Debug/net8.0
/BuberDinner.Contracts/obj
/BuberDinner.Domain/bin/Debug/net8.0
/BuberDinner.Domain/obj
/BuberDinner.Infrastructure/obj
/BuberDinner.Infrastructure/bin/Debug/net8.0
/.vs/ProjectEvaluation
